.template {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;

  .component {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    .selected {
      display: flex;
      flex-direction: row;
      column-gap: 1rem;

      .snapshot1 {
        width: 100%;
      }

      .snapshot2 {
        width: 100%;
      }

      .empty {
        border-radius: var(--radius-flame);
        border: dotted 1px var(--color-frame);
        padding: 0.5rem 1rem 0.5rem 1rem;
        cursor: pointer;
        height: 3.125rem;
      }
    }

    .separator {
      width: 100%;
    }

    .snapshots {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;

      .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 1rem;

        div:first-child {
          width: 100%;
        }

        .icons {
          display: flex;
          flex-direction: row;
          column-gap: 0.5rem;
        }
      }
    }
  }
}
