@mixin base {
  border-radius: var(--radius-element);
  padding: 0.5rem 1rem 0.5rem 1rem;
  cursor: pointer;
}

.primary {
  @include base;
  background-color: #08f;
  border: none;
  color: white;
}

.primary:hover {
  background-color: #06f;
}

.secondary {
  @include base;
  background-color: white;
  border: solid 2px #d3d3d3;
  color: black;
}

.secondary:hover {
  background-color: #eaeaea;
}

.warn {
  @include base;
  background-color: white;
  border: solid 2px #ffb8c3;
  color: #ff4444;
}

.warn:hover {
  background-color: #fce2e7;
}
