.component {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  padding: 0.5rem 1rem;
  min-width: 20em;
  max-width: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  border: solid 1px var(--color-frame);
  background-color: white;

  .content {
    height: 500px;
    overflow-y: scroll;

    .navigation {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: 0.5rem;
      padding: 0.5rem 0.5rem 0 0;
      margin-bottom: 0.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.75);
}
