:root {
  --color-frame: gray;

  --color-tag-red: #e99695;
  --color-tag-yellow: #fef2c0;
  --color-tag-green: #c2e0c6;
  --color-tag-blue: #c5def5;
  --color-tag-purple: #d4c5f9;

  --color-diff-stay: white;
  --color-diff-added: #cfc;
  --color-diff-deleted: #fcc;
  --color-diff-none: #ddd;

  --font-small: 0.75rem;

  --radius-input: 5px;
  --radius-flame: 5px;
  --radius-element: 8px;
}
