.component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
  }
}

.line {
  width: 100%;
  margin: 0;
}
